doctype html
head
    each stylesheet in stylesheets
        link(rel="stylesheet", href=stylesheet)
body
    div.sidebar
        h1.label!= heading
        nav
            ul.side-nav
                each group in data
                    if group.name
                        li.heading= group.name
                    each item in group.items
                        li
                            a(href="#" + item.name)!= item.name
    div.content
        each group in data
            each item in group.items
                h2(id=item.name)!= item.name
                p!= item.description.full
                each tag in item.tags
                    if tag.type == "example"
                        h5 Example
                        pre!= tag.string
                h5 Arguments
                table.arguments
                    each tag in item.tags
                        if tag.type == "param" || tag.type == "property"
                            tr
                                td!= tag.name
                                td!= tag.types && tag.types.join(", ")
                                td!= tag.description
                if item.ctx.type == "function"
                    h5 Returns
                        each tag in item.tags
                            if tag.type == "return" || tag.type == "returns"
                                p
                                    | Type - 
                                    != tag.types.join(", ")
                        
