doctype html
head
    title= title
    each stylesheet in stylesheets
        link(rel="stylesheet", href=stylesheet)
body(id=heading)
    div.sidebar
        h1.label
            a(href="#" + heading)!= heading
        nav
            ul.side-nav
                each group in data.comments
                    if group.name
                        li.heading
                            h4
                                a(href="#" + group.name)= group.name
                    each item in group.items
                        if item.name
                            li
                                a(href="#" + item.name)!= item.name
    div.content-wrap
        div.content
            if data.introduction
                span!= data.introduction
            each group in data.comments
                if group.name.length
                    h1.groupname(id=group.name)!= group.name
                if group.text.length
                    p!= group.text
                each item in group.items
                    h2(id=item.name)
                        != item.name
                        if item.oneliner
                            span.oneliner!= item.oneliner
                    p!= item.description.full
                    each tag in item.tags
                        if tag.type == "example"
                            h3 Example
                            pre!= tag.string
                    if item.hasArguments
                        h3 Arguments
                        table.arguments
                            tr
                                th Name
                                th Type
                                th Description
                            each tag in item.tags
                                if tag.type == "param" || tag.type == "property"
                                    tr
                                        td!= tag.name
                                        td!= tag.types && tag.types.join(", ")
                                        td!= tag.description
                        if item.hasReturns
                            h3 Returns
                            each tag in item.tags
                                if tag.type == "return" || tag.type == "returns"
                                    p
                                        | Type - 
                                        != tag.types.join(", ")
                                        if tag.description
                                            br
                                            != tag.description
                                
